/* Reset */
* {
	box-sizing: border-box;
}

/* HTML */
html {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
	color: #3f3f3f;
	min-height: 100vh;
}

/* Body */
body {
	margin: 0;
	padding: 2rem;
	background-color: #f9f9f9;
}

.markdown-body {
	max-width: 48rem;
	margin: 0 auto;
	padding: 2rem;
}

/* Container for nav and main */
.content-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

/* Main markdown Content*/
main {
	/* max-width: 48rem; */
}

/* Navbar styles */
nav {
	position: fixed;
	top: 50%;
	left: calc(50% - 24rem - 6rem);
	transform: translateY(-50%);
	width: 12rem;
	display: flex;
	flex-direction: column;
}

/* Navigation links */
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	margin-bottom: 1rem;
}

nav ul li a {
	text-decoration: none;
	color: #333;
}

nav ul li a:hover {
	text-decoration: underline;
	color: #000;
}

nav .toc {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Links */
a {
	color: #333;
}

a:hover {
	text-decoration: underline;
	color: #000;
}