<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name='title' content='<!-- TITLE -->' />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="<!-- DESCRIPTION -->" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <meta http-equiv="content-language" content="en" />
  <meta name="author" content="cbrtl" />

  <title><!-- TITLE --></title>
</head>

<body class="markdown-body">
  <div>
    <header>
      <h1 id="blogTitle">
        <!-- TITLE -->
      </h1>
      <div>
        <p>
          <!-- DESCRIPTION -->
        </p>
      </div>
      <h4 id="author">
        <!-- AUTHOR -->
      </h4>
      <ul style="list-style: none">
        <li>
          <!-- DATE -->
        </li>
      </ul>
      <span class="tags"><!-- TAGS --></span>
    </header>
    <div class="content-container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
        <div class="toc">
          <!-- TOC -->
        </div>
        <ul>
          <li><a href="https://discord.com">Discord</a></li>
          <li><a href="/rss.xml">RSS</a></li>
        </ul>
      </nav>
      <section id="main">
        <main>
          <!-- CONTENT -->
        </main>
      </section>
    </div>

  </div>
</body>

</html>